@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Myeongjo&display=swap');

* {
  margin: 0;
}

.hidden {
  display: none;
}

header {
  color: white;
  margin: 20px;
}

.temperature {
  display: block;
  float: right;
}

.temperature span {
  font-size: 25px;
}

#clock {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0;
  color: white;
  font-family: 'Dancing Script', cursive;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  text-align: center;
}

#login-form input {
  height: 40px;
  width: 200px;
  color: white;
  font-size: 30px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
}

#login-form input::placeholder {
  font-size: 15px;
  color: white;
}

#login-form button {
  height: 40px;
  color: white;
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: transparent;
  border: none;
}

#greeting {
  margin-top: 5px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.today {
  color: white;
  margin-top: 90px;
  font-family: 'Nanum Myeongjo', serif;
}

#todo-form {
  margin-top: 10px;
}