@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Myeongjo&display=swap');

* {
  margin: 0;
}

.hidden {
  display: none;
}

header {
  color: white;
  margin: 20px;
}

.temperature {
  display: block;
  float: right;
}

.temperature span {
  font-size: 25px;
}

#clock {
  text-align: center;
  font-size: 100px;
  margin-bottom: 0;
  color: white;
  font-family: 'Dancing Script', cursive;
}

.main {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  text-align: center;
}

.input-username {
  height: 40px;
  width: 200px;
  color: white;
  font-size: 30px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
}

.input-username::placeholder {
  font-size: 15px;
  color: white;
}

#login-form button {
  height: 40px;
  color: white;
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#login-form button:hover {
  color: rgb(170, 170, 170);
}

#greeting {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

#edit-form {
  display: inline-block;
}

#edit-username {
  font-size: 15px;
  color: gray;
  cursor: pointer;
  vertical-align: top;
}

#edit-username:hover {
  color: white;
}


.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0%;
  left: 0%;
}

.today {
  color: white;
  margin-top: 90px;
  font-family: 'Nanum Myeongjo', serif;
}

#todo-form {
  margin-top: 10px;
}

footer {
  margin-bottom: 20px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-style: italic;
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
